/* CSS Document */
.rhm1{
	width:680px;
	height:32px;
	margin:0;	
}

.brand H1 a
{
		font-family:"Segoe UI Light", "Georgia", "Palatino", serif;
		font-weight:lighter;
		font-size: 60px;
		text-decoration: none;
}

.brand H1 a:visited 
{
   text-decoration: none;
}

.brand H1 a:hover 
{
    text-decoration: none;
}

.brand H1 a:link 
{
    text-decoration: none;
}

.rhm1-left{
	width:15px;
	height:32px;
	float:left;
}
.rhm1-right{
	width:15px;
	height:32px;
	float:right;
}
.rhm1-bg{
	height:32px;
}
.rhm1-bg ul{
	list-style:none;
}
.rhm1-bg li{
	margin-left: 0px;
	float:left;
	list-style:none;
}
.rhm1-bg li a{
	float:left;
	display:block;
	color:#000;
	text-decoration:none;
	font:24px "Segoe UI Light", 'Lucida Sans', sans-serif;
	font-weight:lighter;
	padding:0 0 0 0px;
	height:32px;
	line-height:38px;
	text-align:center;
	cursor:pointer;	
}
.rhm1-bg li a span{
	float:left;
	display:block;
	padding:0 20px 0 0px;
}
.rhm1-bg li.current a{
	color:#FF3030;
}
.rhm1-bg li.current a span{
	color:#FF3030;
}
.rhm1-bg li a:hover{
	color:#FF3030;
}
.rhm1-bg li a:hover span{
	color:#FF3030;
}
